<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @topic.title %>
</p>

<p>
  <b>Body:</b>
  <%= @topic.body %>
</p>


<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>

<p>
  <b>Answers:</b>
  <% @topic.posts.each do |post| %>
    <%= render :partial => 'posts/show_post', :locals => {:post => post} %>
  <% end %>
</p>


<p>
  <b>Add answer:</b>
  <%= render :partial => 'posts/form' %>
</p>
